@font-face {
    font-family: poppinR;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinB;
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinL;
    src: url(fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinM;
    src: url(fonts/Poppins-Medium.ttf);
}
*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    padding-left:150px ;
    padding-right: 150px;
}
nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 50px;
}
nav .navmenu{
    list-style: none;
    display: flex;
    align-items: center;
    gap:69px;
    padding-top: 12px;
    font-family: poppinR;
    text-decoration: none;
}
.navmenu > li{
    color: black;
    text-decoration: none;
}
nav .navleft{
    font-size: 24px;
    font-family: poppinB;
    padding-top: 7px;
}
nav .navright{
    background: #FB9333;
    color: white;
    cursor: pointer;
    transition: all 500ms;
    border: none;
    border-radius: 30px;
    height: 47px;
    width: 94px;
    font-size: 16px;
    font-family: poppinR;
}
nav .navright:hover{
    transition: all 500ms;
    width:105px;
}
.header-best{
    width: 205px;
    background-color:#FFF0DC;
    height: 49px;
    border-radius: 50px;
    border: none;
    color: #FB9333;
    font-family: poppinR;
    font-size:16px;
    margin-bottom: 34px;
}
.header-best:hover{
    color: #FFF0DC;
    background-color: #FB9333;
    transition: all 500ms;
}
#header-span{
    font-size: 72px;
    font-family: poppinB;
    color: #FB9333;
    line-height:73px;
}
#header-span2{
    font-size: 72px;
    font-family: poppinB;
    line-height: 73px;
    font-weight: 400;
}
.main-haeder{
    margin-top: 30px;
}
.header-p{
    margin-top:30px;
    font-family: poppinR;
    font-size: 20px;
    color: #848484;
}
.order{
    color:#FFFAF9;
    background-color: #FB9333;
    transition: all 500ms;
    width: 176px;
    height: 66px;
    margin-top: 33px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: poppinR;
    font-weight: 400;
}
.order:hover{
    scale:1.1;
}
.numbers {
    display:flex;
    gap: 50px;
    margin-top: 100px;
    font-family: poppinM;
}
.numbers > p{
    transition: all 500ms;
    cursor: pointer;

}
.numbers > p:hover{
color: #FB9333;
scale:1.4;
}
.header-pic{
    height: 819px;
    width: 668px;
    display:flex;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.left-piece{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.why-text{
    margin-top:120px;
    display: flex;
    flex-direction: row;
    gap:90px;
    align-items: baseline;
}
.big-why{
    font-family: poppinB;
    color: black;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    text-wrap: nowrap;
}
#bigwhy{
    color: #FB9333;
}
.lil-why{
    font-family: poppinR;
    color: #848484;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}
